%% -*- erlang -*-
{erl_opts, [debug_info, warnings_as_errors]}.
{cover_enabled, true}.
{erl_first_files, ["src/monad_trans.erl", "src/monad_plus_trans.erl", 
                   "src/monad_state_trans.erl",
                   "src/monad.erl", "src/state_t.erl", "src/ast_traverse.erl", 
                   "src/do.erl", "src/another_do.erl", "src/cut.erl",  "src/monad_plus.erl", 
                   "src/monad_reader_trans.erl", "src/monad_cont_trans.erl",
                   "src/monad_m.erl",
                   "src/reader_t.erl", "src/cont_t.erl", "src/error_t.erl", 
                   "src/writer_t.erl"]}.
{deps, [
       {'parse_trans', ".*",
        {git, "https://github.com/uwiger/parse_trans.git", "3.0.0"}}
       ]}.

{dialyzer,
 [
  %% Store PLT locally inside the project in .rebar (Default)
  {plt_location, local},
  {warnings, [
              unmatched_returns,
              race_conditions, unknown
             ]}
 ]}.
