%% -*- erlang -*-
{erl_opts, [debug_info, {parse_transform, pmod_pt}]}.
{cover_enabled, true}.
{deps, [
        {parse_trans, {git, "https://github.com/uwiger/parse_trans.git", {tag, "3.0.0"}}},
        {pmod_transform, {git, "https://github.com/erlang/pmod_transform", {branch, "master"}}}
       ]}.
{erl_first_files, ["src/do.erl", "src/monad_trans.erl", "src/monad.erl", 
                   "src/monad_reader_trans.erl", "src/monad_state_trans.erl", "src/monad_cont_trans.erl",
                   "src/monad_t_transform.erl",
                   "src/reader_t.erl", "src/state_t.erl", "src/cont_t.erl"]}.
