%% -*- erlang -*-
{erl_opts, [debug_info]}.
{cover_enabled, true}.
{provider_hooks, [{post, [{compile, {erlando, compile}}, {ct, cover}]}]}.

{erl_first_files, ["src/do.erl", "src/do_macro.erl", "src/gen_fun_macro.erl", "src/cut.erl", "src/another_cut.erl", 
                   "src/import_as.erl", "src/overload_op.erl", 
                   "src/function_generator.erl",           
                   "src/type.erl", "src/typeclass/monad_plus.erl", "src/typeclass.erl",
                   "src/typeclass/monad_trans.erl", "src/monad_runner.erl",
                   "src/typeclass/monad_state.erl", "src/typeclass/monad_reader.erl", "src/typeclass/monad_writer.erl",
                   "src/typeclass/monad_cont.erl", "src/typeclass/monad_fail.erl",
                   "src/typeclass/functor.erl", "src/typeclass/applicative.erl", "src/typeclass/alternative.erl",
                   "src/typeclass/monad.erl", "src/typeclass/traversable.erl", "src/typeclass/foldable.erl"
                  ]}.

{deps, [
  {'astranaut',    {git, "https://github.com/slepher/astranaut.git", {tag, "0.4.0"}}}
]}.

{plugins, [
  {rebar3_erlando, {git, "https://github.com/slepher/rebar3_erlando.git", {tag, "0.2.0"}}}
]}.

{dialyzer,
 [
  %% Store PLT locally inside the project in .rebar (Default)
  {plt_location, local},
  {warnings, [
              unmatched_returns,
              race_conditions, unknown
             ]}
 ]}.

{profiles, [
  {test, [
          {erl_opts, [{parse_transform, astranaut_disable_tco}, nowarn_export_all]}
  ]}
]}.
